/*-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
CSS INDEX
===================
01. Theme default CSS
02. Loader CSS
03. Navbar CSS 
04. Hero Section CSS
05. About Section CSS
06. Service Section CSS
07. Portfolio Section CSS
08. Team Section CSS
09. Testimonial Section CSS
10. News Section CSS
11. Footer Section CSS
12. About Page CSS
13. Blog Page CSS
14. Blog Detail Page CSS
15. Contact Page CSS
-----------------------------------------------------------------------------------*/


/*=============== 01. Theme default CSS =====================*/

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.site-wrapper {
	height: 100%;
}

::-ms-clear {
	display: none;
}

body {
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
	position: relative;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body {
	max-width: 100%;
	overflow-x: hidden;
}

body[data-rtl="rtl"] {
	direction: rtl;
	text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222222;
	font-weight: 400;
	margin-top: 0;
	line-height: 1.2;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

p:last-child {
	margin-bottom: 0;
}

p {
	font-size: 15px;
	line-height: 35px;
	margin: 0;
	text-align: justify;
}

a,
button {
	color: inherit;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}

a,
button,
img,
input,
span {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

*:focus {
	outline: none !important;
}

a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #d0a97e;
}

button,
input[type="submit"] {
	cursor: pointer;
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.width-100 {
	width: 100%;
}

.position-absolute {
	position: absolute!important;
}

.float-right {
	float: right !important;
}

a,
a:active,
a:focus {
	color: #6f6f6f;
	text-decoration: none;
	transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-duration: .2s;
	-ms-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
}

.section-title .title {
	font-size: 40px;
	color: #000000;
	padding-bottom: 50px;
	position: relative;
	margin: 0px;
}

.text-white {
	color: #ffffff;
}

.line-height-70 {
	line-height: 70px;
}


/*================ 02. Loader CSS ===============*/

html,
body {
	overflow-y: hidden;
}

html.animate,
body.animate {
	overflow-y: auto;
}

.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgb(255, 255, 255);
	opacity: 1;
}

.loader-mid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	height: 100%;
}

.loader-inner {
	float: left;
	margin: 0 5px;
}

.loader-inner svg {
	display: block;
	width: 22px;
	height:22px;
	position: relative;
}

.loader-inner svg rect {
	fill: none;
	stroke: #2eca3d;
	stroke-width: 10px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.loader-inner svg circle {
	fill: none;
	stroke: #febf04;
	stroke-width: 10px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.loader-inner svg polygon {
	fill: none;
	stroke: #1574ed;
	stroke-width: 10px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.loader-inner svg polygon {
	stroke-dasharray: 145 76 145 76;
	stroke-dashoffset: 0;
	-webkit-animation: pathTriangle 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
	animation: pathTriangle 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader-inner svg rect {
	stroke-dasharray: 192 64 192 64;
	stroke-dashoffset: 0;
	-webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
	animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader-inner svg circle {
	stroke-dasharray: 150 50 150 50;
	stroke-dashoffset: 75;
	-webkit-animation: pathCircle 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
	animation: pathCircle 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@-webkit-keyframes pathTriangle {
	33% {
		stroke-dashoffset: 74;
	}
	66% {
		stroke-dashoffset: 147;
	}
	100% {
		stroke-dashoffset: 221;
	}
}

@keyframes pathTriangle {
	33% {
		stroke-dashoffset: 74;
	}
	66% {
		stroke-dashoffset: 147;
	}
	100% {
		stroke-dashoffset: 221;
	}
}

@-webkit-keyframes dotTriangle {
	33% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	66% {
		-webkit-transform: translate(10px, -18px);
		transform: translate(10px, -18px);
	}
	100% {
		-webkit-transform: translate(-10px, -18px);
		transform: translate(-10px, -18px);
	}
}

@keyframes dotTriangle {
	33% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	66% {
		-webkit-transform: translate(10px, -18px);
		transform: translate(10px, -18px);
	}
	100% {
		-webkit-transform: translate(-10px, -18px);
		transform: translate(-10px, -18px);
	}
}

@-webkit-keyframes pathRect {
	25% {
		stroke-dashoffset: 64;
	}
	50% {
		stroke-dashoffset: 128;
	}
	75% {
		stroke-dashoffset: 192;
	}
	100% {
		stroke-dashoffset: 256;
	}
}

@keyframes pathRect {
	25% {
		stroke-dashoffset: 64;
	}
	50% {
		stroke-dashoffset: 128;
	}
	75% {
		stroke-dashoffset: 192;
	}
	100% {
		stroke-dashoffset: 256;
	}
}

@-webkit-keyframes dotRect {
	25% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	50% {
		-webkit-transform: translate(18px, -18px);
		transform: translate(18px, -18px);
	}
	75% {
		-webkit-transform: translate(0, -36px);
		transform: translate(0, -36px);
	}
	100% {
		-webkit-transform: translate(-18px, -18px);
		transform: translate(-18px, -18px);
	}
}

@keyframes dotRect {
	25% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	50% {
		-webkit-transform: translate(18px, -18px);
		transform: translate(18px, -18px);
	}
	75% {
		-webkit-transform: translate(0, -36px);
		transform: translate(0, -36px);
	}
	100% {
		-webkit-transform: translate(-18px, -18px);
		transform: translate(-18px, -18px);
	}
}

@-webkit-keyframes pathCircle {
	25% {
		stroke-dashoffset: 125;
	}
	50% {
		stroke-dashoffset: 175;
	}
	75% {
		stroke-dashoffset: 225;
	}
	100% {
		stroke-dashoffset: 275;
	}
}

@keyframes pathCircle {
	25% {
		stroke-dashoffset: 125;
	}
	50% {
		stroke-dashoffset: 175;
	}
	75% {
		stroke-dashoffset: 225;
	}
	100% {
		stroke-dashoffset: 275;
	}
}

/*=============== 03. Navbar CSS =====================*/

.nav-custom {
	border: none;
	background: transparent;
	border: none;
	color: #4e4e4e;
	font-size: 15px;
	border: none;
	margin: 0px auto;
	padding: 30px 180px;
	z-index: 3000;
	-webkit-transition: 0.5s all linear;
	-o-transition: 0.5s all linear;
	transition: 0.5s all linear;
}

.nav-main-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.nav-button {
	position: relative;
	background-color: transparent;
	border: none;
	padding: 0px;
	width: 30px;
	height: 50px;
	outline: none;
	z-index: 5;
	margin-right: 20px;
}

.nav-custom .nav-button span:nth-of-type(1) {
	position: absolute;
	bottom: 28px;
	width: 80%;
	height: 2px;
	background-color: #fff;
	left: 0px;
}

.nav-custom .nav-button span:nth-of-type(2) {
	position: absolute;
	bottom: 18px;
	width: 60%;
	height: 2px;
	background-color: #fff;
	left: 0px;
}

.nav-button-container:hover .nav-button span:nth-of-type(1) {
	width: 100%;
}

.nav-button-container:hover .nav-button span:nth-of-type(2) {
	width: 100%;
}

.nav-custom .nav-button span {
	-webkit-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
}

.nav-custom .nav-button span:nth-of-type(3) {
	position: absolute;
	bottom: 8px;
	width: 100%;
	height: 2px;
	background-color: #fff;
	left: 0px;
}

.nav-custom.active .nav-button span:nth-of-type(1) {
	position: absolute;
	bottom: 13px;
	width: 100%;
	height: 2px;
	background-color: #000;
	left: 0px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-custom.active .nav-button span:nth-of-type(2) {
	position: absolute;
	top: 10px;
	width: 50%;
	height: 2px;
	background-color: #000;
	left: -20px;
	opacity: 0;
	display: none;
}

.nav-button-container:hover .nav-button span:nth-of-type(2) {
	width: 100%;
}

.nav-custom.active .nav-button span:nth-of-type(3) {
	position: absolute;
	bottom: 13px;
	width: 100%;
	height: 2px;
	background-color: #000;
	left: 0px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-custom .nav-menu-logo {
	position: absolute;
	top: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: none;
}

.nav-custom.active .nav-menu-logo {
	display: inline-block;
}

.nav-menu-logo img {
	width: 85px;
}

.nav-menu {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: 1.3s all ease 1.2s;
	-o-transition: 1.3s all ease 1.2s;
	transition: 1.3s all ease 1.2s;
}

.nav-menu.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: 0s all ease;
	-o-transition: 0s all ease;
	transition: 0s all ease;
}

.nav-menu:before {
	content: '';
}

.nav-menu:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: 1.2s all cubic-bezier(0.38, 0.07, 0.17, 0.79) 1s;
	-o-transition: 1.2s all cubic-bezier(0.38, 0.07, 0.17, 0.79) 1s;
	transition: 1.2s all cubic-bezier(0.38, 0.07, 0.17, 0.79) 1s;
}

.nav-menu.active:before {
	-webkit-transform: translateY(-0%);
	-ms-transform: translateY(-0%);
	transform: translateY(-0%);
	-webkit-transition: 0.5s all cubic-bezier(0.38, 0.07, 0.17, 0.79);
	-o-transition: 0.5s all cubic-bezier(0.38, 0.07, 0.17, 0.79);
	transition: 0.5s all cubic-bezier(0.38, 0.07, 0.17, 0.79);
}

.nav-menu.active:after {
	-webkit-transform: translateY(-0%);
	-ms-transform: translateY(-0%);
	transform: translateY(-0%);
	-webkit-transition: 0.5s all cubic-bezier(0.26, 0.37, 0.1, 0.96);
	-o-transition: 0.5s all cubic-bezier(0.26, 0.37, 0.1, 0.96);
	transition: 0.5s all cubic-bezier(0.26, 0.37, 0.1, 0.96);
}

.nav-menu-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	font-size: 32px;
	z-index: 2;
}

.nav-menu-item ul {
	width: 100%;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav-menu .nav-menu-item a {
	color: #fff;
}

.nav-menu .nav-menu-item li.burger-menu-link-wrap {
	width: 350px;
	text-align: left;
}

.nav-menu .nav-menu-item li a {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	opacity: 0;
	-webkit-transition: 0.8s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.5s;
	-o-transition: 0.8s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.5s;
	transition: 0.8s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.5s;
}

.nav-menu .nav-menu-item li:nth-of-type(2) a {
	-webkit-transition: 0.7s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.4s;
	-o-transition: 0.7s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.4s;
	transition: 0.7s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.4s;
}

.nav-menu .nav-menu-item li:nth-of-type(3) a {
	-webkit-transition: 0.6s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.3s;
	-o-transition: 0.6s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.3s;
	transition: 0.6s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.3s;
}

.nav-menu .nav-menu-item li:nth-of-type(4) a {
	-webkit-transition: 0.5s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.2s;
	-o-transition: 0.5s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.2s;
	transition: 0.5s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.2s;
}

.nav-menu .nav-menu-item li:nth-of-type(5) a {
	-webkit-transition: 0.4s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.1s;
	-o-transition: 0.4s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.1s;
	transition: 0.4s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.1s;
}

.nav-menu .nav-menu-item li:nth-of-type(6) a {
	-webkit-transition: 0.4s all cubic-bezier(0.69, 0, 0.48, 0.99);
	-o-transition: 0.4s all cubic-bezier(0.69, 0, 0.48, 0.99);
	transition: 0.4s all cubic-bezier(0.69, 0, 0.48, 0.99);
}

.nav-menu.active .nav-menu-item li a {
	-webkit-transform: translateY(-0%);
	-ms-transform: translateY(-0%);
	transform: translateY(-0%);
	opacity: 1;
	-webkit-transition: 1s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.5 s;
	-o-transition: 1s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.5 s;
	transition: 1s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.5 s;
}

.nav-menu.active .nav-menu-item li:nth-of-type(2) a {
	-webkit-transition: 1.1s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.6s;
	-o-transition: 1.1s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.6s;
	transition: 1.1s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.6s;
}

.nav-menu.active .nav-menu-item li:nth-of-type(3) a {
	-webkit-transition: 1.2s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.7s;
	-o-transition: 1.2s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.7s;
	transition: 1.2s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.7s;
}

.nav-menu.active .nav-menu-item li:nth-of-type(4) a {
	-webkit-transition: 1.3s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.8s;
	-o-transition: 1.3s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.8s;
	transition: 1.3s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.8s;
}

.nav-menu.active .nav-menu-item li:nth-of-type(5) a {
	-webkit-transition: 1.4s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.9s;
	-o-transition: 1.4s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.9s;
	transition: 1.4s all cubic-bezier(0.69, 0, 0.48, 0.99) 0.9s;
}

.nav-menu.active .nav-menu-item li:nth-of-type(6) a {
	-webkit-transition: 1.4s all cubic-bezier(0.69, 0, 0.48, 0.99) 1s;
	-o-transition: 1.4s all cubic-bezier(0.69, 0, 0.48, 0.99) 1s;
	transition: 1.4s all cubic-bezier(0.69, 0, 0.48, 0.99) 1s;
}

.nav-menu .nav-menu-item a {
	position: relative;
	color: #000;
	-webkit-transform: translate3d(0px, 0%, 0px);
	transform: translate3d(0px, 0%, 0px);
}

.nav-menu .nav-menu-item a:before,
.nav-menu .nav-menu-item .active a:before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	top: 70%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 35%;
	width: 105%;
	background: -webkit-gradient(linear, left top, right top, from(#23dd6a), to(#23dd6a));
	background: -webkit-linear-gradient(left, #23dd6a 0%, #23dd6a 100%);
	background: -o-linear-gradient(left, #23dd6a 0%, #23dd6a100%);
	background: -o-linear-gradient(left, #23dd6a 0%, #23dd6a 100%);
	background: linear-gradient(to right, #23dd6a 0%, #23dd6a 100%);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	opacity: 0.5;
	will-change: transform, opacity;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.nav-menu .nav-menu-item a:hover:before,
.nav-menu .nav-menu-item .active a:before {
	webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.navbar-brand {
	max-width: 100%;
	background-image: url(../../images/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 170px;
	height: 45px;
	-webkit-transition: 0.6s all ease-in-out;
	-o-transition: 0.6s all ease-in-out;
	transition: 0.6s all ease-in-out;
}

.navbar-brand img {
	max-width: 100%;
}

.nav-white {
	background-color: #fff !important;
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	padding: 10px 180px!important;
}

.nav-white .menu-icon__line {
	background-color: #000;
}

.nav-white .navbar-brand {
	background-image: url(../../images/logo-black.png);
}

.sticky-top {
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 1020;
}

.nav-white .nav-button span {
	-webkit-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
	background: #000 !important;
}


/*sub menu*/

.drop-down {
	position: relative;
}

.drop-down::after {
	font-family: "FontAwesome";
	text-decoration: none;
	content: '\f107';
	position: absolute;
	margin-left: 15px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	font-size: 20px;
	top: 13px;
}

.sub-menu-parent {
	position: relative;
}

.sub-menu-parent .sub-menu li {
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}

.sub-menu-parent:hover .sub-menu li:nth-child(1) {
	-webkit-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

.sub-menu-parent .sub-menu li a:before {
	display: none;
}

.sub-menu-parent .sub-menu li a:hover {
	color: #6429d8;
}

.sub-menu-parent:hover .sub-menu li:nth-child(2) {
	-webkit-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

.sub-menu-parent:hover .sub-menu li:nth-child(3) {
	-webkit-transition-delay: .8s;
	-o-transition-delay: .8s;
	transition-delay: .8s;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

.sub-menu-parent .sub-menu li:hover {
	opacity: 1;
}

.sub-menu {
	padding: 10px 0px;
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	z-index: 100;
	list-style-type: none;
	position: absolute;
	left: 0px;
	margin: 0;
	text-align: left;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.sub-menu li {
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.sub-menu li a {
	display: block;
	padding: 10px 0px;
	margin-right: 0px;
	clear: both;
	white-space: nowrap;
	font-size: 20px;
	letter-spacing: 1px;
	-webkit-transition: 0.6s all ease-in-out!important;
	-o-transition: 0.6s all ease-in-out!important;
	transition: 0.6s all ease-in-out !important;
}

.sub-menu li a:hover {
	background: transparent;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:hover .sub-menu {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}


/*=============== 04. Hero Section CSS =====================*/

.hero-section {
	height: 100vh;
}

.hero-section-image {
	background: url('../../images/hero/hero-bg.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 70% 100%;
	height: 100%;
}

.auto-content {
	padding: 0px 180px;
	height: 100%;
}

.hero-inner {
	height: 100%;
}

.hero-title {
	font-size: 18px;
	color: #19f158;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 500;
}

.hero-top {
	font-size: 45px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 2px;
	max-width: 650px;
	margin: 40px 0px;
	line-height: 80px;
}

.color-text {
	color: #23dd6a;
}

.hero-dis {
	margin: 0px 0 60px;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	max-width: 650px;
	letter-spacing: 1px;
	line-height: 35px;
	font-weight: 500;
}

.home-button a:nth-child(1) {
	background: #3eca67!important;
}

.home-button a:nth-child(1):hover {
	-webkit-box-shadow: 0px 5px 11px 0px rgba(62, 202, 103, 0.8);
	box-shadow: 0px 5px 11px 0px rgba(62, 202, 103, 0.8);
}

.home-button a:nth-child(2):hover {
	background: #fff;
	color: #1e162d;
}

.social-icon a {
	position: relative;
	background: transparent;
	width: 41px;
	height: 41px;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(111, 57, 218, 0.08);
	box-shadow: 0px 10px 10px 0px rgba(111, 57, 218, 0.08);
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	margin-right: 15px;
	font-weight: 500;
	background: #fff;
}

.social-icon a img {
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.social-icon a:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.home-button a {
	height: 59px;
	width: 191px;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 30px;
	font-size: 15px;
	color: #fff;
	text-align: center;
	display: block;
	letter-spacing: 2px;
	-webkit-transition: 0.6s all ease-in-out;
	-o-transition: 0.6s all ease-in-out;
	transition: 0.6s all ease-in-out;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.10);
	border: none;
}


/*=============== 05. About Section CSS =====================*/

.about-section {
	position: relative;
}

.about-section:after {
	content: '';
	background: url(../../images/about/about-bg.html);
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: bottom right;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.text-white {
	color: #fff;
}

.section-bottom {
	padding-bottom: 100px;
}

.section-top {
	padding-top: 90px;
}

.sec-title.centered {
	text-align: center;
}

.sec-title {
	position: relative;
	margin-bottom: 50px;
}

.centered {
	text-align: center;
}

.sec-title .subtitle {
	position: relative;
	font-size: 35px;
	color: #242424;
	text-transform: uppercase;
	line-height: 50px;
	margin-bottom: 50px;
	letter-spacing: 1px;
	font-weight: 700;
}

.sec-title p {
	position: relative;
	font-size: 16px;
	color: #6a6a6a;
	line-height: 38px;
	max-width: 730px;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
	font-weight: 500;
}

.main-item-two {
	position: relative;
	border: 1px solid #ededed;
	cursor: pointer;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	background: #fff;
}

.about-item-two:hover {
	-webkit-box-shadow: 0px 46px 0px -20px #fff, -46px 0px 0px -20px #fff, 0px -46px 0px -20px #fff, 46px 0px 0px -20px #fff, 0 0 0 1px #192445;
	box-shadow: 0px 46px 0px -20px #fff, -46px 0px 0px -20px #fff, 0px -46px 0px -20px #fff, 46px 0px 0px -20px #fff, 0 0 0 1px #192445;
	position: relative;
	z-index: 1000;
}

.inner-box {
	position: relative;
	display: block;
	background: #ffffff;
	padding: 40px 25px;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.icon-box {
	position: relative;
	display: block;
	margin-bottom: 30px;
}

.box-head {
	position: relative;
	display: block;
	color: #1e162d;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 30px;
}

.text {
	position: relative;
	display: block;
	font-size: 15px;
	color: #6a6a6a;
	line-height: 31px;
	margin: 0;
	margin-bottom: 30px !important;
	letter-spacing: 1px;
	max-width: 100% !important;
	font-weight: 500;
}

.more-btn a {
	position: relative;
	font-size: 15px;
	color: #30af55;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.more-btn a:hover {
	opacity: 0.7;
}

.inner-box:hover .more-btn a:after {
	width: 60px;
}

.more-btn a:after {
	position: absolute;
	content: '';
	width: 40px;
	height: 2px;
	background: #30af55;
	top: 50%;
	margin-left: 10px;
	ttransition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.shape1 {
	background: url(../../images/heading-shape.png) no-repeat scroll center center;
	height: 15px;
	line-height: 15px;
	margin: 0 0 30px;
	text-align: center;
}

.shape2 {
	background: url(../../images/heading-shape-white.png) no-repeat scroll center center;
}


/*=============== 06. Service Section CSS =====================*/

.heading {
	font-size: 40px;
	color: #000;
	padding-bottom: 50px;
	position: relative;
	margin: 0px;
}

.service {
	background-size: cover;
	background-position: center center;
	position: relative;
	background: url('../../images/slider/image_01.html');
	padding: 80px 0px;
	color: #fff;
}

.slider .slick-slide {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: .5;
}

.slider .slick-slide.slick-center {
	opacity: 1;
}

.switch {
	background: #000;
}

.slider {
	position: relative;
}

.img-box {
	padding: 0;
	height: 350px;
}

.slider .slick-slide img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.slider .slider-div {
	float: left;
	width: 1140px;
}

.img-box {
	width: 50%;
}

.slider-div-details {
	width: 350px;
	margin: 0px auto;
}

.slider-div-details span {
	font-size: 20px;
}

.service-description p {
	color: rgba(255, 255, 255, 0.5);
}

.slider-div-details h6 {
	font-size: 30px;
	color: #fff;
	text-transform: capitalize;
	margin: 10px 0px 15px 0px;
}

.slick-arrow-left,
.slick-arrow-right {
	padding: 0;
	background-color: transparent;
	border: none;
	z-index: 100;
	background: #fff;
	height: 47px;
	width: 47px;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slick-prev img,
.slick-next img {}

.slick-arrow-left {
	float: left;
	-webkit-transform: translate(-37px, -180px);
	-ms-transform: translate(-37px, -180px);
	transform: translate(-37px, -180px);
	z-index: 10;
	position: relative;
}

.slick-arrow-right {
	float: right;
	-webkit-transform: translate(37px, -180px);
	-ms-transform: translate(37px, -180px);
	transform: translate(37px, -180px);
	z-index: 10;
	position: relative;
}


/*=============== 07. Portfolio Section CSS =====================*/

.portfolio-main-container {
	position: relative;
	padding: 80px 0px 0px;
}

#portfolio {
	width: 100%;
}

.portfoliodiv {
	padding-top: 50px;
	width: 100%;
}

.filter {
	text-align: center;
}

.filter ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.filter ul li a {
	color: #bebebe;
	padding: 10px;
	background: transparent;
	text-decoration: none;
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 600;
	width: 182px;
	height: 74px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
	border: 1px solid #ededed;
	z-index: -999;
}

.filter ul li a:hover,
.filter ul li a.active,
.filter ul li a:focus {
	-webkit-box-shadow: 0px 46px 0px -20px #fff, -46px 0px 0px -20px #fff, 0px -46px 0px -20px #fff, 46px 0px 0px -20px #fff, 0 0 0 1px #192445;
	box-shadow: 0px 46px 0px -20px #fff, -46px 0px 0px -20px #fff, 0px -46px 0px -20px #fff, 46px 0px 0px -20px #fff, 0 0 0 1px #192445;
	position: relative;
	z-index: 100;
	color: #6429d8;
}

.filter ul li:last-child {
	border-right: none;
}

.col-25 {
	width: 25%;
	padding: 15px;
}

.col-33 {
	width: 33%;
	padding: 15px;
}

.col-50 {
	width: 50%;
	padding: 15px;
}

.col-66 {
	width: 66%;
	padding: 15px;
}

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
	width: 100%;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
}

.portfolio-img {
	position: relative;
	text-align: center;
	width: 100%;
}

.portfolio-img img {
	max-width: 100%;
	width: 100%;
	border-radius:8px;
}

.portfolio-img .portfolio-overlay {
	background: rgba(0, 0, 0, 0.75);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0;
	border-radius: 8px;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.portfolio-img:hover .portfolio-overlay {
	opacity: 1;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.portfolio-img h3 {
	text-transform: uppercase;
	font-size: 36px;
	color: #fff
}

.portfolio-img P {
	color: #fff;
	font-size: 16px;
}


/*================ 12. Service Section CSS=================*/

.Service-item-two .sec-title .subtitle {
	line-height: 51px;
}

.Service-item-two {
	position: relative;
	border: 1px solid #ededed;
	cursor: pointer;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-webkit-box-shadow: 0px 46px 0px -20px #fff, -46px 0px 0px -20px #fff, 0px -46px 0px -20px #fff, 46px 0px 0px -20px #fff, 0 0 0 1px #192445;
	box-shadow: 0px 46px 0px -20px #fff, -46px 0px 0px -20px #fff, 0px -46px 0px -20px #fff, 46px 0px 0px -20px #fff, 0 0 0 1px #192445;
	position: relative;
	z-index: 100;
}

.Service-item-two:nth-child(1) {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

.Service-item-two:nth-child(1) .inner-box {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	padding: 40px 60px 0px 0px;
}

.Service-item-two .shape1 {
	background: url(../../images/heading-shape.png) no-repeat scroll left;
}


/*=================== 08. Team Section CSS==============*/

.team-item-two {
	text-align: center;
	-webkit-box-shadow: 0px 46px 0px -20px #fff, -46px 0px 0px -20px #fff, 0px -46px 0px -20px #fff, 46px 0px 0px -20px #fff, 0 0 0 1px #192445;
	box-shadow: 0px 46px 0px -20px #fff, -46px 0px 0px -20px #fff, 0px -46px 0px -20px #fff, 46px 0px 0px -20px #fff, 0 0 0 1px #192445;
}

.team-item-two .inner-box:before {
	background: rgba(122, 73, 220, 0.9);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(122, 73, 220, 0.9)), color-stop(100%, rgba(90, 27, 215, 0.9)));
	background: -webkit-linear-gradient(135deg, rgba(122, 73, 220, 0.9) 0%, rgba(90, 27, 215, 0.9) 100%);
	background: -o-linear-gradient(135deg, rgba(122, 73, 220, 0.9) 0%, rgba(90, 27, 215, 0.9) 100%);
	background: linear-gradient(-45deg, rgba(122, 73, 220, 0.9) 0%, rgba(90, 27, 215, 0.9) 100%);
	position: absolute;
	content: '';
	top: 10px;
	right: 0px;
	bottom: 10px;
	left: 0px;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 1000;
}

.team-item-two:hover .inner-box:before {
	opacity: 1;
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.team-item-two .social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: -100px;
	margin: auto;
	cursor: pointer;
	-webkit-transition: 0.6s all ease;
	-o-transition: 0.6s all ease;
	transition: 0.6s all ease;
	list-style-type: none;
	padding: 0;
	z-index: 1000;
}

.team-item-two:hover .social {
	opacity: 1;
	bottom: 0;
}

.team-item-two .social li {
	margin-right: 6px;
	list-style-type: none;
	height: 41px;
	width: 41px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-transition: 0.6s all ease;
	-o-transition: 0.6s all ease;
	transition: 0.6s all ease;
}

.team-item-two .social li:hover {
	-webkit-box-shadow: 0 4px 11px 0px rgba(255, 255, 255, 0.5);
	box-shadow: 0 4px 11px 0px rgba(255, 255, 255, 0.5);
}

.team-item-two .social li a i {
	color: #fff;
}

.team-box {
	width: 148px;
	height: 148px;
	margin: 0px auto;
	margin-bottom: 30px!important;
	border-radius: 50%;
}

.team-box img {
	border-radius: 50%;
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
	width: 100%;
}


/*=============== 09. Testimonial Section CSS =====================*/

.Testimonial-section {
	background: rgba(122, 73, 220, 1);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(122, 73, 220, 1)), color-stop(100%, rgba(90, 27, 215, 1)));
	background: -webkit-linear-gradient(135deg, rgba(122, 73, 220, 1) 0%, rgba(90, 27, 215, 1) 100%);
	background: -o-linear-gradient(135deg, rgba(122, 73, 220, 1) 0%, rgba(90, 27, 215, 1) 100%);
	background: linear-gradient(-45deg, rgba(122, 73, 220, 1) 0%, rgba(90, 27, 215, 1) 100%);
	padding: 90px;
}

.testimonial-one {
	margin: 50px 0 0px;
}

.testimonial-slider-main-container {
	text-align: center;
	background: #6b33da;
}

.testimonial-slider {
	max-width: 650px;
	margin: 0px auto;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	outline: none;
}

.slick-arrows {
	position: relative;
	height: 70px;
	width: 319px;
	margin: 0px auto;
	/* background: red; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.slick-arrows:hover:before {
	-webkit-box-shadow: 0px 46px 0px -20px #6b33da, -46px 0px 0px -20px #6b33da, 0px -46px 0px -20px #6b33da, 46px 0px 0px -20px #6b33da, 0 0 0 1px #fff;
	box-shadow: 0px 46px 0px -20px #6b33da, -46px 0px 0px -20px #6b33da, 0px -46px 0px -20px #6b33da, 46px 0px 0px -20px #6b33da, 0 0 0 1px #fff;
	z-index: 1000;
}

.slick-arrows:before {
	content: '';
	position: absolute;
	height: 70px;
	width: 319px;
	margin: 0px auto;
	border: 1px solid rgba(255, 255, 255, 0.2);
	-webkit-transition: 0.6s all ease;
	-o-transition: 0.6s all ease;
	transition: 0.6s all ease;
}

.quote {
	padding-bottom: 20px;
}

.testimonial-one {
	outline: none;
	cursor: pointer;
	max-width: 650px;
	margin: 0px auto;
}

.testimonial-image {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 30px;
}

.testimonial-slider-data {
	height: 190px;
}

.testimonial-image:before {
	content: '';
	position: absolute;
	height: 70px;
	width: 319px;
	margin: 0px auto;
	border: 1px solid rgba(255, 255, 255, 0.2);
	-webkit-transition: 0.6s all ease;
	-o-transition: 0.6s all ease;
	transition: 0.6s all ease;
	-webkit-box-shadow: 0px 46px 0px -20px #6b33da, -46px 0px 0px -20px #6b33da, 0px -46px 0px -20px #6b33da, 46px 0px 0px -20px #6b33da, 0 0 0 1px #fff;
	box-shadow: 0px 46px 0px -20px #6b33da, -46px 0px 0px -20px #6b33da, 0px -46px 0px -20px #6b33da, 46px 0px 0px -20px #6b33da, 0 0 0 1px #fff;
}

.testimonial-one img {
	display: inline-block !important;
	-webkit-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
}

.image-container {
	width: 121px;
	height: 121px;
	border-radius: 50%;
	position: relative;
	z-index: 1000;
}

.image-container img {
	border-radius: 50%;
	-o-object-fit: cover;
	object-fit: cover;
}

.testimonial-slider {
	width: 100%;
	display: inline-block !important;
	z-index: 9;
}

.testimonial-title {
	margin: 0;
	font-size: 21px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 1px;
}

.testimonial-slider-data p {
	font-size: 16px;
	color: #fff;
	width: 100%;
	display: inline-block;
	line-height: 40px;
	margin-top: 20px;
	font-family: 'Abril Fatface', cursive!important;
	letter-spacing: 1px;
	margin-bottom: 50px;
}

.slider-left {
	padding: 0;
    background-color: transparent;
    border: none;
    bottom: 22%;
    position: absolute;
    left: 26%;
    z-index: 1000;
    width: 94px;
    height: 70px;
}

.slider-right {
	padding: 0;
    background-color: transparent;
    border: none;
    bottom: 22%;
    position: absolute;
    right: 26%;
    z-index: 1000;
    width: 94px;
    height: 70px;
}

/*=============== 10.News Section CSS =====================*/

.news-item-image {
	background: url(../../images/News/news.jpg);
	background-repeat: no-repeat !important;
	background-position: top center!important;
	background-size: cover!important;
	padding: 60px;
	border-radius: 8px;
	height: 567px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-bottom: 30px;
	position: relative;
}

.news-item-image:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}

.news-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.news-item-image .news-head {
	font-size: 35px;
	line-height: 59px;
	margin-bottom: 60px;
	font-weight: 600;
	position: relative;
}

.btn-all {
	width: auto;
	padding: 0px 35px;
	height: 59px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	border-radius: 4px;
	color: #161616;
	font-size: 15px;
	font-weight: 600;
	border: 1px solid #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transition: 0.6s all ease;
	-o-transition: 0.6s all ease;
	transition: 0.6s all ease;
	position: relative;
}

.btn-all:hover {
	color: #161616;
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

.news-info-profile img {
	margin-right: 10px;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	-o-object-fit: cover;
	object-fit: cover;
}

.news-inner-box {
	position: relative;
	border: 2px solid #ededed;
	cursor: pointer;
	-webkit-transition: 0.6s all ease-in-out;
	-o-transition: 0.6s all ease-in-out;
	transition: 0.6s all ease-in-out;
	padding: 30px 35px;
	border-radius: 8px;
}

.news-inner-box:hover {
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
	border: 2px solid transparent;
}

.news-meta {
	font-size: 15px;
	color: #6c6c6c;
	font-weight: 600;
	letter-spacing: 1px;
	position: relative;
}

.news-meta span {
	padding: 7px 20px;
	width: auto;
	height: 36px;
	border-radius: 18px;
	background: #f3f3f3;
	font-size: 15px;
	color: #000000;
	font-weight: 600;
}

.news-divider {
	margin: 0px 15px;
	position: relative;
}

.news-divider:after {
	content: '';
	position: absolute;
	height: 50px;
	width: 1px;
	left: 0;
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	right: 0;
	top: -25px;
	bottom: 0;
	background: #f3f3f3;
}

.news-title h3 a {
	font-size: 20px;
	color: #000;
	line-height: 38px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 0px;
	margin: 25px 0px;
}

.news-title h3 a:hover,
.news-title h3 a:focus {
	color: #000;
}

.news-info-profile {
	font-size: 15px;
	color: #000;
	font-weight: 700;
	letter-spacing: 1px;
}

.news-bottom {
	margin-bottom: 100px;
}


/*=============== 11. Footer CSS =====================*/

.footer-main-container {
	background: #f5f6f9;
}

.footer-box {
	height: 261px;
	/* ff3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(90, 27, 215, 1)), color-stop(100%, rgba(122, 73, 220, 1)));
	/* safari4+,chrome */
	background: -webkit-linear-gradient(144deg, rgba(122, 73, 220, 1) 0%, rgba(90, 27, 215, 1) 100%);
	/* safari5.1+,chrome10+ */
	background: -o-linear-gradient(144deg, rgba(122, 73, 220, 1) 0%, rgba(90, 27, 215, 1) 100%);
	/* opera 11.10+ */
	/* ie10+ */
	background: linear-gradient(306deg, rgba(122, 73, 220, 1) 0%, rgba(90, 27, 215, 1) 100%);
	/* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a1bd7', endColorstr='#7a49dc', GradientType=1);
	/* ie6-9 */
	border-radius: 8px;
	padding: 90px;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	position: relative;
}

.footer-box-main {
	position: relative;
}

.footer-box-main:before {
	position: absolute;
	content: '';
	height: 50%;
	left: 0;
	bottom: 0;
	background: #f5f6f9;
	width: 100%;
}

.foot-top {
	padding: 50px 0px;
}

.foot-top-right ul li {
	margin-bottom: 10px;
}

.foot-top-right ul li a {
	color: #505050;
	font-size: 15px;
	font-weight: 500;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.foot-top-right ul li a:hover,
.foot-top-right ul li a:focus {
	color: #6429d8;
}

.foot-list-bold {
	color: #25272c !important;
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 30px !important;
	font-weight: 600;
	letter-spacing: 1px;
}

.foot-box-head {
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.foot-box-text {
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}

.foot-logo {
	margin-bottom: 20px;
}

.foot-logo img {
	max-width: 160px;
}

.foot-text {
	font-size: 15px;
	color: #505050;
	font-weight: 500;
	text-align: left;
	line-height: 30px;
}

.foot-top-right .social-icon {
	margin-top: 25px;
}

.foot-top-right .social-icon a {
	background: #fff;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.foot-top-right .social-icon a:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.foot-info {
	padding: 25px 0px;
	border-top: 1px solid rgba(80, 80, 80, 0.10);
}

.foot-info a,
.foot-info a:hover,
.foot-info a:focus {
	font-size: 15px;
	color: #505050;
}

.error-msg {
	margin: 20px 0px 0px!important;
	text-align: center;
	font-size: 18px;
	color: #c79a87;
}


/*=============== 12. About Page CSS =====================*/

.main-banner-area {
	overflow: hidden;
	position: relative;
}

.half-bg {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	height: 490px;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	text-align: center;
	background-image: url(../../images/about/bg.png);
}

.main-title {
	font-size: 40px;
	color: #fff;
	font-weight: 600;
	margin: 0 0 1.875rem;
	position: relative;
	z-index: 1000;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.section-page {
	margin-top: -120px;
	position: relative;
	z-index: 1000;
}

.about-section-main-box {
	background: #fff;
	padding: 40px;
	border-radius: 8px;
	-webkit-box-shadow: 0px -27px 29.64px 8.36px rgba(0, 0, 0, 0.08);
	box-shadow: 0px -27px 29.64px 8.36px rgba(0, 0, 0, 0.08);
	margin-bottom: 50px;
}

.column-inner-box {
	position: relative;
	padding-left: 40px;
}

.column-inner-box .subtitle {
	position: relative;
	font-size: 35px;
	color: #242424;
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 50px;
	letter-spacing: 1px;
	font-weight: 600;
}

.about-section-main-box h3 {
	color: rgba(76, 76, 76, 0.3);
	font-size: 30px;
	font-weight: 900;
	margin: 0 0 20px;
	position: relative;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}

.about-section-main-box .text-head {
	position: relative;
	display: block;
	font-size: 25px;
	color: #242424;
	line-height: 31px;
	margin: 0px 0 0;
	text-align: center;
}

.shape1-left {
	background: url(../../images/heading-shape.png) no-repeat scroll left;
}

.video-box {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.video-box .image {
	position: relative;
	overflow: hidden;
}

.video-box .image img {
	position: relative;
	width: 100%;
}

.video-box .overlay-box {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.video-box .overlay-box i {
	position: relative;
	top: 47%;
	z-index: 99;
	color: #ffffff;
	font-weight: 400;
	font-size: 70px;
	margin-top: -30px;
	text-align: center;
	border-radius: 50%;
	line-height: 1em;
	padding-left: 4px;
	opacity: 0.7;
	display: inline-block;
}

.progressWrapper {
	padding: 0px 0px 15px;
}

.progressWrapper label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 100%;
	margin-bottom: 10px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 600;
	color: #242424;
	font-size: 20px;
	letter-spacing: 1px;
}

.progressWrapper .progressBar {
	height: 10px;
	background-color: #ededed;
	border-radius: 10px;
}

.progressWrapper .now {
	position: relative;
	top: -10px;
	height: 10px;
	width: 0%;
	-webkit-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
	border-radius: 10px;
}

.progressWrapper .color-purple {
	background: #6a32d9;
}

.progressWrapper .color-green {
	background: #3eca67;
}

.progressWrapper .color-orange {
	background: #f8a017;
}

.progressWrapper .color-blue {
	background: #2163e2;
}

.progressWrapper .color-pink {
	background: #ed329c;
}

.clients-section .inner-container {
	position: relative;
}

.clients-section .column {
	padding: 0px;
	position: relative;
	border: 1px solid #ededed;
	cursor: pointer;
	height: 288px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.clients-section .column:hover {
	-webkit-box-shadow: 0px 46px 0px -20px #fff, -46px 0px 0px -20px #fff, 0px -46px 0px -20px #fff, 46px 0px 0px -20px #fff, 0 0 0 1px #192445;
	box-shadow: 0px 46px 0px -20px #fff, -46px 0px 0px -20px #fff, 0px -46px 0px -20px #fff, 46px 0px 0px -20px #fff, 0 0 0 1px #192445;
	position: relative;
	z-index: 1000;
}

.clients-section .image {
	position: relative;
	opacity: 0.4;
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}

.clients-section .column:hover .image {
	opacity: 1;
}

.inner-column {
	padding-right: 40px;
}


/*=============== 13. Blog Page CSS =====================*/

.news-top {
	margin-top: 100px;
}

.load-btn {
	width: 200px;
	background: #f5f6f9;
	margin: 0 auto;
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}

.load-btn:hover {
	background: rgba(90, 27, 215, 1);
	color: #fff;
}

.section-mb {
	margin-bottom: 30px !important;
}


/*=============== 14. Blog Page CSS Blog Detail Page CSS=====================*/

.blog-post__header {
	padding: 0px 0px 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.blog-post-wrapper {
	margin: 0 auto;
}

.blog-section-main-box {
	background: #fff;
	border-radius: 8px;
	-webkit-box-shadow: 0px -27px 29.64px 8.36px rgba(0, 0, 0, 0.08);
	box-shadow: 0px -27px 29.64px 8.36px rgba(0, 0, 0, 0.08);
	margin-bottom: 100px;
}

.blog-section-main-box .blog-main {
	width: 100%;
	border-radius: 8px;
}

.lower-content h3 {
	position: relative;
	color: #1e162d;
	font-size: 20px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 30px;
	letter-spacing: 1px;
	line-height: 30px;
}

.blog-post__quote {
	margin: 150px 0px;
}

.blog-post__quote q {
	position: relative;
}

.blog-post__quote q {
	position: relative;
	font-family: 'Abril Fatface', cursive!important;
	font-size: 35px;
	letter-spacing: 1px;
	color: #1e162d;
	text-align: justify;
}

.blog-post__quote q::before,
.blog-post__quote q::after {
	z-index: -1;
	position: absolute;
}

.blog-post__quote q::before {
	content: url(../../images/blog/comma-left.png);
	top: -100px;
	left: 50%;
	line-height: 1;
}

.blog-post__quote q::after {
	content: url(../../images/blog/comma-right.png);
	bottom: -100px;
	left: 50%;
	line-height: 1;
}

.blog-post__content-list li {
	font-size: 15px;
	color: #6a6a6a;
	line-height: 31px;
	text-align: justify;
	letter-spacing: 1px;
}

.blog-post__content-list li:before {
	border: 2px solid #3ac81e;
	content: "";
	display: inline-block;
	height: 10px;
	position: relative;
	vertical-align: middle;
	width: 10px;
	margin-right: 20px;
}

.blog-section {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.blog-section div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.mb-0 {
	margin-bottom: 0!important;
}

.br-8 {
	border-radius: 8px;
}

.blog-right {
	width: 100%;
}

.blog-other {
	position: relative;
}

.blog-slider-inner {}

.blog-slider-one {
	outline: none;
	height: initial !important;
	position: relative;
	z-index: 2;
	margin: 10px;
}

.slick-slide img {
	display: inline-block !important;
}

.blog-slider .slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.blog-slider-left {
	padding: 0;
	background-color: transparent;
	border: none;
	bottom: 50px;
	position: absolute;
	left: 48.5%;
}

.blog-slider-right {
	padding: 0;
	background-color: transparent;
	border: none;
	bottom: 50px;
	position: absolute;
	right: 48.5%;
}

.blog-slider-left img,
.blog-slider-right img {
	width: 20px;
	height: 20px;
}

.blog-slider {
	position: initial !important;
}

.blog-slider:before {
	content: '';
	background-color: rgba(186, 186, 186, 0.16);
	position: absolute;
	width: 4000px;
	height: 2px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 59px;
	z-index: 1;
}

.blog-slider .slick-list {
	z-index: 2;
}

.blog-list-image img {
	max-width: 100%;
}


/*=============  15. Contact  CSS  =============*/

#contact {
	position: relative;
	z-index: 100;
}

.contact-from {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 50px;
}

.contact-from input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.contact-input-half {
	width: 45%;
}

.contact-from .error-msg {
	position: relative;
	font-size: 20px;
	color: #1e162d;
	text-align: center;
}

.contact-form-input {
	position: relative;
	padding-top: 15px;
	margin-top: 50px;
}

.contact-form-input input {
	width: 100%;
	position: relative;
	z-index: 2;
	background-color: transparent;
	border: none;
	padding: 15px 0;
	font-size: 16px;
	color: #1e162d;
	font-weight:600;
}

.contact-form-input textarea {
	width: 100%;
	position: relative;
	z-index: 2;
	background-color: transparent;
	border: none;
	padding: 15px 0 10px;
	font-size: 16px;
	color: #1e162d;
	max-width: 100%;
	resize: none;
	font-weight:600;
}

.contact-form-input:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	background-color: #eaeaea;
}

.contact-form-input label {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 1;
	margin: 0;
	-webkit-transition: 0.4s all ease-out;
	-o-transition: 0.4s all ease-out;
	transition: 0.4s all ease-out;
	color: #1e162d;
	font-size: 16px;
	letter-spacing: 1.5px;
	font-weight: 700;
}

.contact-form-input label.active {
	opacity: 0;
}

.contact-form-input input:focus+label {
	top: 0;
}

.contact-form-input textarea:focus+label {
	top: 0;
}

.contact-form-input .line {
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	bottom: 0;
	background-color: #6429d8 !important;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	left: 50%;
	-webkit-transition: 0.4s all ease-out;
	-o-transition: 0.4s all ease-out;
	transition: 0.4s all ease-out;
}

.contact-form-input input:focus~div.line {
	width: 100%;
}

.contact-form-input textarea:focus~div.line {
	width: 100%;
}

.contact-input-full {
	width: 100%;
}

.contact-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.contact-input-full {
	margin-top: 50px;
}

.contact-from .con-button {
	float: right;
	width: 100%;
	cursor: pointer;
	margin: 60px 0;
}

.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: #1e162d;
	width: 100%;
	height: 40px;
	font-weight: 700;
}

.select-styled {
	height: 40px;
}

.select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-color: #1e162d transparent transparent transparent;
	position: absolute;
	top: 10px;
	right: 10px;
}

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #f7f7f7;
	border-radius: 4px;
}

.select-options li {
	margin: 0;
	padding: 10px 0;
	text-indent: 15px;
	color: #000;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

.select-options li:hover {
	color: #6429d8;
}

.select-options li[rel="hide"] {
	display: none;
}

#map {
	height: 300px;
	border-radius: 8px;
	margin: 0 0px 60px;
}